@model IEnumerable<Route>

@{
    ViewBag.Title = "Kelionės";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
    <span>
        <a href="@Url.Action("ShowRoutesSearch")" class="btn btn-secondary"><i class="fa-solid fa-angles-left"></i> Atgal į paiešką</a>
    </span>
</div>

<div class="d-flex justify-content-center">
    <table class="entitylist table table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-md-start">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-md-end">
                    <a href="@Url.Action("MakeTicketPurchase", "Ticket", item)" class="btn btn-primary">Pirkti bilietą</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>