@model Portalai.ViewModel.RouteCreateEditVm

@{
    ViewBag.Title = "Maršruto kūrimas";
    Layout = "_Layout";
}


<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
    <span class="actions">
        <a href="@Url.Action("ShowRoutes")" class="btn btn-secondary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">
    @using (Html.BeginForm("Create", "Route", FormMethod.Post, new { @class = "col-md-6" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <fieldset class="border rounded shadow p-2">
            <div class="form-group">
                @Html.HiddenFor(m => m.Route.Id)
                @Html.LabelFor(m => m.Route.Title, new { @class = "control-label" })
                @Html.EditorFor(m => m.Route.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Įveskite maršruto pavadinimą" } })
                @Html.ValidationMessageFor(m => m.Route.Title, "", new { @class = "text-danger" })
            </div>
        </fieldset>

        <fieldset class="border rounded shadow p-6">
            <div class="container-fluid d-flex d-row justify-content-between">
                <legend style="width: unset; margin-bottom: 0px;"><i class="fa-solid fa-route"></i>Maršruto planas</legend>
                <button name="add"
                        value="1"
                        formnovalidate
                        formaction="@Url.Action("Create", "Route")#listEnd"
                        class="btn btn-info"
                        style="white-space: nowrap;">
                    <i class="fa-solid fa-plus"></i>Pridėti
                </button>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Eilės numeris</th>
                    <th>Trukmė</th>
                    <th>Vietovė</th>
                    <th style="width: 1px;"></th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.RouteVoyageMs.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => Model.RouteVoyageMs[i].Order, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => Model.RouteVoyageMs[i].Order, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(m => Model.RouteVoyageMs[i].Duration, new { htmlAttributes = new { @class = "form-control", placeholder = "Įveskite trukmę" } })
                            @Html.ValidationMessageFor(m => Model.RouteVoyageMs[i].Duration, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => Model.RouteVoyageMs[i].PlaceId, Model.PlaceSelectList, "---------", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => Model.RouteVoyageMs[i].PlaceId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <button
                                name="remove"
                                value="@Model.RouteVoyageMs[i].Order"
                                formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
                                formaction="@Url.Action()#listEnd"
                                class="btn btn-danger"
                                style="white-space: nowrap;">
                                <i class="fa-solid fa-trash"></i> Šalinti
                            </button>
                        </td>
                    </tr>
                }
                </tbody>

            </table>
            <span id="listEnd"></span>
        </fieldset>

        <div class="container-fluid d-flex d-row justify-content-end">
            <button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
        </div>
    }
</div>