@model Portal

@{
    ViewBag.Title = "Išsami portalo informacija";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
    <span class="actions">
        <a href="@Url.Action("ShowPortals")" class="btn btn-secondary"><i class="fa-solid fa-angles-left"></i> Atgal į sąrašą</a>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">

    <fieldset class="border rounded shadow p-2" style="width: 40%; word-wrap: break-word;">

        <dl>
            <dt>@Html.DisplayNameFor(m => m.Id)</dt>
            <dd>@Html.DisplayFor(m => m.Id)</dd>

            <dt>@Html.DisplayNameFor(m => m.Latitude)</dt>
            <dd>@Html.DisplayFor(m => m.Latitude)</dd>

            <dt>@Html.DisplayNameFor(m => m.Longitude)</dt>
            <dd>@Html.DisplayFor(m => m.Longitude)</dd>

            <dt>@Html.DisplayNameFor(m => m.LiquidCapacity)</dt>
            <dd>@Html.DisplayFor(m => m.LiquidCapacity)</dd>

            <dt>@Html.DisplayNameFor(m => m.CurrentLiquidLevel)</dt>
            <dd>@Html.DisplayFor(m => m.CurrentLiquidLevel)</dd>

            <dt>@Html.DisplayNameFor(m => m.TeleportPrice)</dt>
            <dd>@Html.DisplayFor(m => m.TeleportPrice)</dd>

            <dt>@Html.DisplayNameFor(m => m.TeleportCount)</dt>
            <dd>@Html.DisplayFor(m => m.TeleportCount)</dd>

            <dt>@Html.DisplayNameFor(m => m.Status)</dt>
            <dd>@Html.DisplayFor(m => m.Status)</dd>

            <dt>@Html.DisplayNameFor(m => m.JunctionPortalId)</dt>
            @if (Model.JunctionPortalId != 0)
            {
                <dd>@Html.DisplayFor(m => m.JunctionPortalId)</dd>
            }
            else
            {
                <dd>Portalas neturi jungties</dd>
            }

        </dl>
    </fieldset>
</div>