@model Complaint

@{
    ViewBag.Title = "Išsami skundo informacija";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
    <span class="actions">
        <a href="@Url.Action("ShowComplaints")" class="btn btn-secondary"><i class="fa-solid fa-angles-left"></i> Atgal į sąrašą</a>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">

    <fieldset class="border rounded shadow p-2" style="width: 40%; word-wrap: break-word;">

        <dl>
            <dt>@Html.DisplayNameFor(m => m.SubmisionDate)</dt>
            <dd>@Html.DisplayFor(m => m.SubmisionDate)</dd>

            <dt>@Html.DisplayNameFor(m => m.Description)</dt>
            <dd>@Html.DisplayFor(m => m.Description)</dd>

            <dt>@Html.DisplayNameFor(m => m.Status)</dt>
            <dd>@Html.DisplayFor(m => m.Status)</dd>

            <dt>@Html.DisplayNameFor(m => m.Portal)</dt>
            <dd>@Html.DisplayFor(m => m.Portal.Id)</dd>

            <dt>@Html.DisplayNameFor(m => m.User)</dt>
            <dd>@Html.DisplayFor(m => m.User.Id)</dd>

        </dl>
    </fieldset>
</div>
<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="padding-right:5px;">
        <a href="@Url.Action("ShowEditStateForm", new { id = Model.Id })" class="btn btn-secondary">Keisti būseną</a>
    </div>
    <div style="margin-left:5px;">
        <a href="@Url.Action("ShowDeleteConfirmForm", new { id = Model.Id })" class="btn btn-danger">Šalinti</a>
    </div>
</div>