@model Place

@{
    ViewBag.Title = "Išsami vietovės informacija";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
    <span class="actions">
        <a href="@Url.Action("PlacesList")" class="btn btn-secondary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">

    <fieldset class="border rounded shadow p-2">

        <dl>
            <dt>@Html.DisplayNameFor(m => m.Name)</dt>
            <dd>@Html.DisplayFor(m => m.Name)</dd>

            <dt>@Html.DisplayNameFor(m => m.Longitude)</dt>
            <dd>@Html.DisplayFor(m => m.Longitude)</dd>

            <dt>@Html.DisplayNameFor(m => m.Latitude)</dt>
            <dd>@Html.DisplayFor(m => m.Latitude)</dd>
        </dl>
    </fieldset>
</div>