@model Place

@{
    ViewBag.Title = "Vietovės šalinimas";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewBag.Title</h1>
    </span>
</div>

<div class="container-fluid d-flex justify-content-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset class="border rounded shadow p-2">
            <legend class="text-center">Ar tikrai norite šalinti šią vietovę?</legend>

            <dl>
                <dt>@Html.DisplayNameFor(m => m.Name)</dt>
                <dd>@Html.DisplayFor(m => m.Name)</dd>

                <dt>@Html.DisplayNameFor(m => m.Longitude)</dt>
                <dd>@Html.DisplayFor(m => m.Longitude)</dd>

                <dt>@Html.DisplayNameFor(m => m.Latitude)</dt>
                <dd>@Html.DisplayFor(m => m.Latitude)</dd>
            </dl>


            <div class="container-fluid d-flex d-row justify-content-between align-items-center p-2">
                <span class="actions">
                    <a href="@Url.Action("PlacesList")" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-circle-xmark"></i> Atšaukti</a>
                </span>
                <span>
                    <button formaction="@Url.Action("PlaceDelete", new { id = Model.Id })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Šalinti</button>
                </span>
                
            </div>

        </fieldset>
    }
</div>